@import '../../Utilities/_Variables.scss';

* {
  box-sizing: border-box;
}

.overlay {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
}

.Form {
  background-color: white;
  padding: 45px 45px 10px 45px;
  display: block;
  width: 50%;
  border: 1px solid #BBBBBB;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);

  .FormItem {
    position: relative;
  }

  .title {
    font-size: 26px;
    border: none;
    border-bottom: 3px solid $secondary-color;
    color: $secondary-color;
  }

  .item-text {
    padding: 5px 45px 5px 53px;
    color: $secondary-color;
    font-size: 16px;
    margin: 0;
    border: 0;
    font-weight: bold;
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &:focus {
      border-top: 1px solid #BBBBBB;
      border-bottom: 1px solid #BBBBBB;
      outline: none;
    }
  }

  .checked-item {
    color: $primary-color;
    font-weight: normal;
    text-decoration: line-through;
  }

  .clear {
    position: absolute;
    top: 4px;
    right: 12px;
  }

  .add, .check-box {
    position: absolute;
    top: 4px;
    left: 24px;
  }
}

.icon {
  width: 18px;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px; 
}

.home-button {
  background-color: $secondary-color;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  text-align: center;
  width: 40%;
  font-size: 20px;

  &:hover {
    background-color: $accent-color;
  } 
}