@import '../../Utilities/_Variables.scss';

.not-found {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.not-found img {
  height: 60%;
}

.not-found h1 {
  color: $secondary-color;
}