@import '../../Utilities/_Variables.scss';

.card {
  transition: box-shadow .2s;
  color: $secondary-color;
  background-color: #fff;
  width: 280px;
  margin: 30px;
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
}