.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create-card-btn {
  transition: opacity .2s;
  height: 180px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #96858f;
  margin: 30px;

  &:hover {
    opacity: .6

  }
}

.createNew {
  height: 40px;
}

