@import '../../Utilities/_Variables.scss';

.header {
  width: 100%;
  background: $primary-color;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  & h1 {
    margin: 0;
    color: $secondary-color;
  }
}

.logo {
  height: 80%;
}